Repository DFieldFL/harness-core-ui, changes with the owners that CODEOWNERS names for each.
All owners: @wings-software/ui-council, @wings-software/ui-platform, @wings-software/ui-pipeline, @wings-software/ui-cv

CODEOWNERS:

.github/ @wings-software/ui-council
.eslintrc.yml @wings-software/ui-council
.prettierignore @wings-software/ui-council
.prettierrc.yml @wings-software/ui-council
package.json @wings-software/ui-council
tsconfig.json @wings-software/ui-council
tsconfig-eslint.json @wings-software/ui-council
webpack.config.js @wings-software/ui-council
webpack.devServerProxy.config.js @wings-software/ui-council
jest.config.js @wings-software/ui-council
coverage-groups.json @wings-software/ui-council
dockerfile @wings-software/ui-council
src/framework/ @wings-software/ui-council
src/modules/10-common/navigation/ @wings-software/ui-council
src/modules/10-common/RouteDefinitions.ts @wings-software/ui-council
src/services/ @wings-software/ui-council
harnessci.Dockerfile @wings-software/ui-council
restful-react.config.js @wings-software/ui-council
sonar-project.properties @wings-software/ui-council
yarn.lock @wings-software/ui-council
.dockerignore @wings-software/ui-council
.storybook/ @wings-software/ui-council
scripts/ @wings-software/ui-council
certificates/ @wings-software/ui-council
src/modules/15-notifications @wings-software/ui-platform
src/modules/20-rbac @wings-software/ui-platform
src/modules/30-auth-settings @wings-software/ui-platform
src/modules/30-secrets @wings-software/ui-platform
src/modules/35-connectors @wings-software/ui-platform
src/modules/35-user-profile @wings-software/ui-platform
src/modules/40-gitsync @wings-software/ui-platform
src/modules/45-projects-orgs @wings-software/ui-platform
src/modules/70-pipeline @wings-software/ui-pipeline
src/modules/85-cv @wings-software/ui-cv

test: trend popover
  src/modules/75-cd/components/TrendPopover/__tests__/__snapshots__/TrendPopover.test.tsx.snap
Owners: none

test: git ops servers home page
  src/modules/75-cd/pages/gitops/__tests__/GitOpsServersHomePage.test.tsx
  src/modules/75-cd/pages/gitops/__tests__/__snapshots__/GitOpsServersHomePage.test.tsx.snap
Owners: none

test: k8s manifests
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesManifests/KubernetesManifests.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/KubernetesManifests.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/KubernetesManifests.test.tsx.snap
Owners: none

test: service instances widget
  src/modules/75-cd/components/Services/ServiceInstancesWidget/ServiceInstancesWidget.tsx
  src/modules/75-cd/components/Services/__tests__/ServiceInstancesWidget.test.tsx
  src/modules/75-cd/components/Services/__tests__/__snapshots__/ServiceInstancesWidget.test.tsx.snap
  src/modules/75-cd/components/TrendPopover/__tests__/__snapshots__/TrendPopover.test.tsx.snap
Owners: none

test: trend popover
  src/modules/75-cd/components/TrendPopover/__tests__/__snapshots__/TrendPopover.test.tsx.snap
Owners: none

test: k8s manifests
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesManifests/KubernetesManifests.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/KubernetesManifests.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/KubernetesManifests.test.tsx.snap
Owners: none

test: k8s service spect input set mode
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesManifests/KubernetesManifests.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/KubernetesManifests.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/KubernetesManifests.test.tsx.snap
Owners: none

test: service instances widget
  src/modules/75-cd/components/TrendPopover/__tests__/__snapshots__/TrendPopover.test.tsx.snap
Owners: none

test: trend popover
  src/modules/75-cd/components/TrendPopover/__tests__/__snapshots__/TrendPopover.test.tsx.snap
Owners: none

test: k8s manifests
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesManifests/KubernetesManifests.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/KubernetesManifests.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/KubernetesManifests.test.tsx.snap
Owners: none

test: k8s service spect input set mode
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesManifests/KubernetesManifests.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/KubernetesManifests.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/KubernetesManifests.test.tsx.snap
Owners: none

Revert "test: trend popover"
  src/modules/75-cd/components/TrendPopover/__tests__/__snapshots__/TrendPopover.test.tsx.snap
Owners: none

feat: [GIT-337]: Show GitOps NavItem in CDSideNav when either ARGO_PHASE1 || ARGO_PHASE2_MANAGED enabled
  src/modules/75-cd/components/CDSideNav/CDSideNav.tsx
Owners: none

feat: Update to match latest PluginStep
  src/modules/85-sto/README.md
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStep.stories.tsx
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStep.tsx
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStepBase.tsx
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStepInputSet.tsx
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/__test__/ZeroNorthStep.test.tsx
  src/modules/85-sto/strings/strings.en.yaml
  src/stringTypes.ts
Owners: none

feat: Clone 'PluginStep' to 'ZeroNorthStep'
  scripts/strings/yamlStringsCheck.mjs
  src/framework/featureStore/FeatureIdentifier.ts
  src/framework/strings/languageLoader.ts
  src/modules/70-pipeline/components/PipelineSteps/PipelineStepInterface.ts
  src/modules/70-pipeline/components/PipelineStudio/StepPalette/StepPalette.tsx
  src/modules/70-pipeline/components/PipelineStudio/StepUtil.ts
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStep.stories.tsx
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStep.tsx
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStepBase.tsx
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStepFunctionConfigs.ts
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStepInputSet.tsx
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStepVariables.tsx
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/__test__/ZeroNorthStep.test.tsx
  src/modules/85-sto/components/PipelineSteps/index.ts
  src/modules/85-sto/strings/strings.en.yaml
  src/modules/85-sto/strings/strings.es.yaml
  src/stringTypes.ts
  tsconfig.json
Owners: @wings-software/ui-council, @wings-software/ui-pipeline

fix: tests
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/__test__/ZeroNorthStep.test.tsx
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/__test__/__snapshots__/ZeroNorthStep.test.tsx.snap
Owners: none

fix: Remove TODOs
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStep.stories.tsx
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStep.tsx
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/__test__/ZeroNorthStep.test.tsx
Owners: none

fix: code smells
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStepFunctionConfigs.ts
Owners: none

feat: Show step only under CI
  src/modules/70-pipeline/components/PipelineStudio/StepPalette/StepPalette.tsx
Owners: @wings-software/ui-pipeline

fix: Regenerate eslint configs
  src/modules/10-common/.eslintrc.yml
  src/modules/15-notifications/.eslintrc.yml
  src/modules/18-audit-trail/.eslintrc.yml
  src/modules/20-rbac/.eslintrc.yml
  src/modules/22-resource-center/.eslintrc.yml
  src/modules/25-governance/.eslintrc.yml
  src/modules/27-sto/.eslintrc.yml
  src/modules/30-delegates/.eslintrc.yml
  src/modules/30-secrets/.eslintrc.yml
  src/modules/33-auth-settings/.eslintrc.yml
  src/modules/35-connectors/.eslintrc.yml
  src/modules/35-user-profile/.eslintrc.yml
  src/modules/40-gitsync/.eslintrc.yml
  src/modules/45-dashboards/.eslintrc.yml
  src/modules/45-projects-orgs/.eslintrc.yml
  src/modules/70-pipeline/.eslintrc.yml
  src/modules/72-templates-library/.eslintrc.yml
  src/modules/75-ce/.eslintrc.yml
  src/modules/75-cf/.eslintrc.yml
  src/modules/75-ci/.eslintrc.yml
  src/modules/85-cv/.eslintrc.yml
  src/modules/85-sto/.eslintrc.yml
Owners: @wings-software/ui-council, @wings-software/ui-platform, @wings-software/ui-pipeline, @wings-software/ui-cv

feat: Change machine name of step, feature flag fixups
  src/modules/70-pipeline/components/PipelineSteps/PipelineStepInterface.ts
  src/modules/70-pipeline/components/PipelineStudio/StepPalette/StepPalette.tsx
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStep.tsx
  src/services/cd-ng/index.tsx
  src/services/pipeline-ng/index.tsx
Owners: @wings-software/ui-pipeline, @wings-software/ui-council

Move optional config settings out of accordion
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStepBase.tsx
Owners: none

feat: Set defaults, hide some fields for step
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStep.tsx
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStepBase.tsx
Owners: none

fix: tweak defaults, sync input set
  src/modules/70-pipeline/components/PipelineStudio/StepPalette/StepPalette.tsx
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStep.tsx
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStepBase.tsx
  src/modules/85-sto/components/PipelineSteps/ZeroNorthStep/ZeroNorthStepInputSet.tsx
Owners: @wings-software/ui-pipeline

feat: Add npm command for regenerating eslint configs
  package.json
Owners: @wings-software/ui-council

refactor: Rename 'sto' module to 'sto-steps'
  src/framework/strings/languageLoader.ts
  src/modules/10-common/.eslintrc.yml
  src/modules/15-notifications/.eslintrc.yml
  src/modules/18-audit-trail/.eslintrc.yml
  src/modules/20-rbac/.eslintrc.yml
  src/modules/22-resource-center/.eslintrc.yml
  src/modules/25-governance/.eslintrc.yml
  src/modules/27-sto/.eslintrc.yml
  src/modules/30-delegates/.eslintrc.yml
  src/modules/30-secrets/.eslintrc.yml
  src/modules/33-auth-settings/.eslintrc.yml
  src/modules/35-connectors/.eslintrc.yml
  src/modules/35-user-profile/.eslintrc.yml
  src/modules/40-gitsync/.eslintrc.yml
  src/modules/45-dashboards/.eslintrc.yml
  src/modules/45-projects-orgs/.eslintrc.yml
  src/modules/70-pipeline/.eslintrc.yml
  src/modules/70-pipeline/components/PipelineStudio/StepUtil.ts
  src/modules/72-templates-library/.eslintrc.yml
  src/modules/75-cd/.eslintrc.yml
  src/modules/75-ce/.eslintrc.yml
  src/modules/75-cf/.eslintrc.yml
  src/modules/75-ci/.eslintrc.yml
  src/modules/85-cv/.eslintrc.yml
  src/modules/85-sto-steps/.eslintrc.yml
  src/modules/85-sto-steps/README.md
  src/modules/85-sto-steps/components/PipelineSteps/ZeroNorthStep/ZeroNorthStep.stories.tsx
  src/modules/85-sto-steps/components/PipelineSteps/ZeroNorthStep/ZeroNorthStep.tsx
  src/modules/85-sto-steps/components/PipelineSteps/ZeroNorthStep/ZeroNorthStepBase.tsx
  src/modules/85-sto-steps/components/PipelineSteps/ZeroNorthStep/ZeroNorthStepFunctionConfigs.ts
  src/modules/85-sto-steps/components/PipelineSteps/ZeroNorthStep/ZeroNorthStepInputSet.tsx
  src/modules/85-sto-steps/components/PipelineSteps/ZeroNorthStep/ZeroNorthStepVariables.tsx
  src/modules/85-sto-steps/components/PipelineSteps/ZeroNorthStep/__test__/ZeroNorthStep.test.tsx
  src/modules/85-sto-steps/components/PipelineSteps/ZeroNorthStep/__test__/__snapshots__/ZeroNorthStep.test.tsx.snap
  src/modules/85-sto-steps/components/PipelineSteps/index.ts
  src/modules/85-sto-steps/strings/strings.en.yaml
  src/modules/85-sto-steps/strings/strings.es.yaml
  src/modules/85-sto/components/PipelineSteps/index.ts
  src/stringTypes.ts
  tsconfig.json
Owners: @wings-software/ui-council, @wings-software/ui-platform, @wings-software/ui-pipeline, @wings-software/ui-cv

fix: Use new icon for ZeroNorth Step
  package.json
  src/modules/85-sto-steps/components/PipelineSteps/ZeroNorthStep/ZeroNorthStep.tsx
  yarn.lock
Owners: @wings-software/ui-council

feat: [PL-20872]: fix shadow
  src/modules/10-common/components/CollapsableList/CollapsableList.module.scss
  src/modules/10-common/components/EntityReference/EntityReference.module.scss.d.ts
  src/modules/30-secrets/components/SecretReference/SecretReference.module.scss.d.ts
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.module.scss.d.ts
  src/modules/85-cv/components/MultiItemsSideNav/components/SelectedAppsSideNav/SelectedAppsSideNav.module.scss.d.ts
Owners: @wings-software/ui-platform, @wings-software/ui-cv

feat: [PL-20872]: fix shadow
  src/modules/35-connectors/components/ConnectorReferenceField/FormMultiTypeConnectorField.tsx
Owners: @wings-software/ui-platform

fix: Pass execution detail into STO App, instead of summary
  src/modules/70-pipeline/pages/execution/ExecutionSecurityView/ExecutionSecurityView.tsx
Owners: @wings-software/ui-pipeline

fix: Use correct ports for STO micro-frontend proxying
  webpack.devServerProxy.config.js
Owners: @wings-software/ui-council

feat: [CDP-20328]: Add New styled form to config file component
  .vscode/settings.json
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TFVarStore.tsx
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformConfigForm.tsx
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformPlan.tsx
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformPlanWizard.tsx
Owners: none

refactor: Use helper type file
  .vscode/settings.json
  src/modules/70-pipeline/components/PipelineSteps/Steps/Steps.module.scss
  src/modules/70-pipeline/components/PipelineSteps/Steps/Steps.module.scss.d.ts
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TFVarStore.tsx
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformVarfile.module.scss
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformVarfile.module.scss.d.ts
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformConfigForm.module.scss
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformConfigForm.tsx
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformPlan.tsx
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TfPlanVarFileList.tsx
Owners: @wings-software/ui-pipeline

refactor: Refactor to reduce the amount of changed code
  src/modules/70-pipeline/components/PipelineSteps/Steps/Steps.module.scss
  src/modules/70-pipeline/components/PipelineSteps/Steps/Steps.module.scss.d.ts
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformConfigForm.module.scss
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformConfigForm.module.scss.d.ts
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformConfigForm.tsx
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformConfigFormHelper.ts
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformPlan.tsx
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformPlanWizard.tsx
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TfPlanVarFileList.tsx
Owners: @wings-software/ui-pipeline

style: Align form input widths
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformConfigForm.tsx
Owners: none

refactor: Add types to form parts 1 and 2
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformConfigForm.tsx
Owners: none

fix: Fix string conflict
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TFVarFileList.tsx
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TFVarStore.tsx
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformVarfile.module.scss
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformVarfile.module.scss.d.ts
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformConfigForm.module.scss
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformConfigForm.module.scss.d.ts
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformConfigForm.tsx
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformPlan.tsx
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TfPlanVarFileList.tsx
  src/modules/75-cd/strings/strings.en.yaml
  src/stringTypes.ts
Owners: none

fix: fix code smell
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformConfigForm.module.scss
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformConfigForm.module.scss.d.ts
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformConfigForm.tsx
Owners: none

fix: remove console log
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TFVarFileList.tsx
Owners: none

test: Add unit tests
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/__tests__/TFVarStore.test.tsx
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/__tests__/__snapshots__/TFVarStore.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformPlan.tsx
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/__tests__/TerraformConfigForm.test.tsx
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/__tests__/TerraformPlan.test.tsx
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/__tests__/__snapshots__/TerraformConfigForm.test.tsx.snap
Owners: none
