Repository DFieldFL/harness-core-ui, changes with the owners that CODEOWNERS names for each.
All owners: @wings-software/ui-council, @wings-software/ui-pipeline, @wings-software/ui-cv

feat: [CVS-8666]: implementing the screen for empty state of slos
  cypress/integration/85-cv/slos/CreateSLO.spec.ts
  src/modules/85-cv/pages/slos/CVSLOsListingPage.tsx
Owners: @wings-software/ui-cv

feat: [CVS-8666]: fixing testcase
  src/modules/85-cv/pages/slos/__tests__/CVSLOsListingPage.test.tsx
Owners: @wings-software/ui-cv

feat: [CI-3335]: handle ci codebase and stages errors in error strip only
  src/modules/10-common/components/Wizard/Wizard.tsx
  src/modules/10-common/components/Wizard/WizardFooter.tsx
  src/modules/10-common/components/Wizard/WizardUtils.tsx
  src/modules/70-pipeline/pages/triggers/TriggersWizardPage.tsx
  src/modules/70-pipeline/pages/triggers/utils/TriggersWizardPageUtils.ts
  src/modules/75-ci/components/PipelineSteps/RunStep/RunStep.tsx
Owners: @wings-software/ui-pipeline

feat: [GTM-663]: update feature tooltips
  src/modules/10-common/components/FeatureWarning/FeatureTooltip.tsx
  src/modules/10-common/components/FeatureWarning/FeatureWarning.module.scss
  src/modules/10-common/components/FeatureWarning/FeatureWarning.module.scss.d.ts
  src/modules/10-common/components/FeatureWarning/FeatureWarningWithTooltip.tsx
  src/modules/10-common/components/FeatureWarning/__tests__/FeatureTooltip.test.tsx
  src/modules/10-common/components/FeatureWarning/__tests__/__snapshots__/FeatureTooltip.test.tsx.snap
  src/modules/10-common/components/FeatureWarning/__tests__/__snapshots__/FeatureWarningBanner.test.tsx.snap
  src/modules/10-common/components/FeatureWarning/__tests__/__snapshots__/FeatureWarningInfoBanner.test.tsx.snap
  src/modules/10-common/components/FeatureWarning/__tests__/__snapshots__/FeatureWarningUpgradeBanner.test.tsx.snap
  src/modules/10-common/components/FeatureWarning/__tests__/__snapshots__/FeatureWarningWithTooltip.test.tsx.snap
  src/modules/10-common/components/FeatureWarning/featureWarningUtil.tsx
  src/modules/10-common/hooks/useFeatures.ts
  src/modules/10-common/strings/strings.en.yaml
  src/modules/20-rbac/components/Button/Button.tsx
  src/modules/20-rbac/components/RbacThumbnailSelect/__tests__/RbacThumbnailSelect.test.tsx
  src/modules/70-pipeline/components/ExecutionActions/__tests__/__snapshots__/ExecutionActions.test.tsx.snap
  src/modules/70-pipeline/components/PipelineStudio/StepPalette/StepPopover/StepPopover.tsx
  src/modules/70-pipeline/factories/FeatureRestrictionBannersFactory/__tests__/__snapshots__/FeatureRestrictionBannersFactory.test.tsx.snap
  src/modules/72-templates-library/pages/TemplatesPage/views/NewTemplatePopover.tsx
  src/modules/75-ce/components/COGatewayList/__tests__/COGatewayList.test.tsx
  src/modules/75-cf/components/CreateEnvironmentDialog/__tests__/EnvironmentDialog.test.tsx
  src/modules/75-cf/components/CreateFlagButton/__tests__/CreateFlagButton.test.tsx
  src/modules/75-cf/components/SelectFeatureFlagsModalButton/add-to-flag-butotn/__tests__/AddToFlagButton.test.tsx
  src/modules/75-cf/pages/segment-details/segment-rules-edit-button/__tests__/SegmentRulesEditButton.test.tsx
  src/modules/75-cf/pages/target-management/targets/__tests__/CreateTargetModal.test.tsx
  src/stringTypes.ts
Owners: @wings-software/ui-pipeline

fix: Fix new connector being populated with wrong data
  src/modules/35-connectors/components/CreateConnector/commonSteps/ConnectorDetailsStep.tsx
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformConfigForm.tsx
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformEditView.tsx
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/__tests__/TerraformConfigForm.test.tsx
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformPlan.tsx
Owners: none

fix: code smell
  src/modules/35-connectors/components/CreateConnector/commonSteps/ConnectorDetailsStep.tsx
Owners: none

feat: [GTM-662]: fix layout, update license banner
  src/modules/10-common/components/Banners/EmailVerificationBanner.module.scss
  src/modules/10-common/components/Banners/EmailVerificationBanner.module.scss.d.ts
  src/modules/10-common/components/Banners/EmailVerificationBanner.tsx
  src/modules/10-common/components/Banners/TrialLicenseBanner.module.scss
  src/modules/10-common/components/Banners/TrialLicenseBanner.module.scss.d.ts
  src/modules/10-common/components/Banners/TrialLicenseBanner.tsx
  src/modules/10-common/components/Banners/__tests__/EmailVerificationBanner.test.tsx
  src/modules/10-common/components/Banners/__tests__/__snapshots__/EmailVerificationBanner.test.tsx.snap
  src/modules/10-common/layouts/DefaultLayout.tsx
  src/modules/10-common/layouts/FeatureBanner.tsx
  src/modules/10-common/layouts/layouts.module.scss
  src/modules/10-common/layouts/layouts.module.scss.d.ts
  src/modules/10-common/modals/ExtendTrial/useExtendTrialOrFeedbackModal.tsx
  src/modules/20-rbac/components/TrialHomePageTemplate/TrialInProgressTemplate.module.scss
  src/modules/20-rbac/components/TrialHomePageTemplate/TrialInProgressTemplate.module.scss.d.ts
  src/modules/20-rbac/components/TrialHomePageTemplate/TrialInProgressTemplate.tsx
  src/modules/33-auth-settings/pages/AccountOverview/AccountOverview.module.scss
  src/modules/33-auth-settings/pages/AccountOverview/AccountOverview.module.scss.d.ts
  src/modules/35-user-profile/pages/UserProfile/UserProfile.module.scss
  src/modules/35-user-profile/pages/UserProfile/UserProfile.module.scss.d.ts
  src/modules/35-user-profile/pages/UserProfile/UserProfilePage.tsx
  src/modules/45-projects-orgs/pages/HomePageTemplate/HomePageTemplate.module.scss
  src/modules/45-projects-orgs/pages/HomePageTemplate/HomePageTemplate.module.scss.d.ts
  src/modules/45-projects-orgs/pages/HomePageTemplate/HomePageTemplate.tsx
  src/modules/45-projects-orgs/pages/LandingDashboardPage/LandingDashboardPage.module.scss
  src/modules/45-projects-orgs/pages/LandingDashboardPage/LandingDashboardPage.module.scss.d.ts
  src/modules/45-projects-orgs/pages/LandingDashboardPage/LandingDashboardPage.tsx
  src/modules/45-projects-orgs/pages/LandingDashboardPage/LandingDashboardWelcomeView.tsx
  src/modules/45-projects-orgs/pages/projects/ProjectsPage.module.scss
  src/modules/45-projects-orgs/pages/projects/ProjectsPage.module.scss.d.ts
  src/modules/45-projects-orgs/pages/projects/ProjectsPage.tsx
  src/modules/70-pipeline/components/HomePageByModule/HomePageByModule.tsx
  src/modules/75-ce/pages/overview/Overview.module.scss
  src/modules/75-ce/pages/overview/Overview.module.scss.d.ts
  src/modules/75-ce/pages/overview/OverviewPage.tsx
  src/modules/75-cf/pages/home/CFHomePage.tsx
  src/modules/85-cv/pages/home/CVHomePage.tsx
Owners: @wings-software/ui-pipeline, @wings-software/ui-cv

feat: [CI-3335]: handle yaml submit for required fields
  src/modules/10-common/components/Wizard/Wizard.tsx
  src/modules/10-common/components/Wizard/WizardFooter.tsx
  src/modules/10-common/components/Wizard/WizardUtils.tsx
  src/modules/70-pipeline/components/PipelineStudio/StepUtil.ts
  src/modules/70-pipeline/pages/triggers/TriggersWizardPage.tsx
  src/modules/70-pipeline/strings/strings.en.yaml
  src/stringTypes.ts
Owners: @wings-software/ui-pipeline

feat: [CI-3335]: fix jest tests
  src/modules/10-common/components/Wizard/__tests__/Wizard.test.tsx
  src/modules/70-pipeline/pages/triggers/__tests__/TriggerWizardPage3.test.tsx
  src/modules/70-pipeline/pages/triggers/__tests__/TriggersWizardPage.test.tsx
  src/modules/70-pipeline/pages/triggers/__tests__/TriggersWizardPage2.test.tsx
Owners: @wings-software/ui-pipeline

feat: [CDC-16668]: adding template call to get allValues for steps and stages
  src/modules/72-templates-library/components/PipelineSteps/TemplateStep/TemplateStepWidget/TemplateStepWidget.tsx
  src/modules/72-templates-library/components/TemplateStageSpecifications/TemplateStageSpecifications.tsx
Owners: none

feat: [CDC-16668]: sonar
  src/modules/72-templates-library/components/PipelineSteps/TemplateStep/TemplateStepWidget/TemplateStepWidget.tsx
  src/modules/72-templates-library/components/TemplateStageSpecifications/TemplateStageSpecifications.tsx
Owners: none

fix: Adding Optional sublabel for Run Step Input Set and Step Input Set Common Fields
  src/modules/70-pipeline/components/StepCommonFields/StepCommonFieldsInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/RunStep/RunStepInputSet.tsx
Owners: @wings-software/ui-pipeline

feat: [PL-22005]: Setting up fullSyncConfig from fillSync Page
  src/modules/40-gitsync/components/FullSyncForm/FullSyncForm.module.scss
  src/modules/40-gitsync/components/FullSyncForm/FullSyncForm.module.scss.d.ts
  src/modules/40-gitsync/components/FullSyncForm/FullSyncForm.tsx
  src/modules/40-gitsync/pages/config/GitSyncConfigTab.module.scss
  src/modules/40-gitsync/pages/config/GitSyncConfigTab.tsx
  src/modules/40-gitsync/pages/steps/GitFullSyncStep/GitFullSyncStep.module.scss
  src/modules/40-gitsync/pages/steps/GitFullSyncStep/GitFullSyncStep.module.scss.d.ts
  src/services/cd-ng/index.tsx
Owners: @wings-software/ui-council

fix: radio btn alignment for ecs and rds selector table
  src/modules/75-ce/components/COEcsSelector/COEcsSelector.module.scss
  src/modules/75-ce/components/COEcsSelector/COEcsSelector.module.scss.d.ts
  src/modules/75-ce/components/COEcsSelector/COEcsSelector.tsx
  src/modules/75-ce/components/CORdsSelector/CORdsSelector.module.scss
  src/modules/75-ce/components/CORdsSelector/CORdsSelector.module.scss.d.ts
  src/modules/75-ce/components/CORdsSelector/CORdsSelector.tsx
Owners: none

fix: snapshots
  src/modules/75-ce/components/COEcsSelector/__tests__/__snapshots__/COEcsSelector.test.tsx.snap
Owners: none

fix: Moving StepCommonFields to 75-ci
  src/modules/75-ci/components/PipelineSteps/Dependency/DependencyBase.tsx
  src/modules/75-ci/components/PipelineSteps/Dependency/DependencyInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/DockerHubStep/DockerHubStepBase.tsx
  src/modules/75-ci/components/PipelineSteps/DockerHubStep/DockerHubStepInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/ECRStep/ECRStepBase.tsx
  src/modules/75-ci/components/PipelineSteps/ECRStep/ECRStepInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/GCRStep/GCRStepBase.tsx
  src/modules/75-ci/components/PipelineSteps/GCRStep/GCRStepInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/GCSStep/GCSStepBase.tsx
  src/modules/75-ci/components/PipelineSteps/GCSStep/GCSStepInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/JFrogArtifactoryStep/JFrogArtifactoryStepBase.tsx
  src/modules/75-ci/components/PipelineSteps/JFrogArtifactoryStep/JFrogArtifactoryStepInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/PluginStep/PluginStepBase.tsx
  src/modules/75-ci/components/PipelineSteps/PluginStep/PluginStepInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/RestoreCacheGCSStep/RestoreCacheGCSStepBase.tsx
  src/modules/75-ci/components/PipelineSteps/RestoreCacheGCSStep/RestoreCacheGCSStepInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/RestoreCacheS3Step/RestoreCacheS3StepBase.tsx
  src/modules/75-ci/components/PipelineSteps/RestoreCacheS3Step/RestoreCacheS3StepInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/RunStep/RunStepBase.tsx
  src/modules/75-ci/components/PipelineSteps/RunStep/RunStepInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/RunTestsStep/RunTestsStepBase.tsx
  src/modules/75-ci/components/PipelineSteps/RunTestsStep/RunTestsStepInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/S3Step/S3StepBase.tsx
  src/modules/75-ci/components/PipelineSteps/S3Step/S3StepInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/SaveCacheGCSStep/SaveCacheGCSStepBase.tsx
  src/modules/75-ci/components/PipelineSteps/SaveCacheGCSStep/SaveCacheGCSStepInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/SaveCacheS3Step/SaveCacheS3StepBase.tsx
  src/modules/75-ci/components/PipelineSteps/SaveCacheS3Step/SaveCacheS3StepInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/StepCommonFields/StepCommonFields.tsx
  src/modules/75-ci/components/PipelineSteps/StepCommonFields/StepCommonFieldsInputSet.tsx
  src/modules/75-ci/components/PipelineSteps/StepCommonFields/__tests__/StepCommonFields.test.tsx
  src/modules/75-ci/components/PipelineSteps/StepCommonFields/__tests__/StepCommonFieldsInputSet.test.tsx
  src/modules/75-ci/components/PipelineSteps/StepCommonFields/__tests__/__snapshots__/StepCommonFields.test.tsx.snap
  src/modules/75-ci/components/PipelineSteps/StepCommonFields/__tests__/__snapshots__/StepCommonFieldsInputSet.test.tsx.snap
Owners: none

feat: [CCM-5398]: Updated query
  src/modules/75-ce/components/PerspectiveSummary/PerspectiveSummary.tsx
  src/modules/75-ce/components/PerspectiveSummary/RecommendationSummaryCard.tsx
  src/modules/75-ce/components/WorkloadSummary/WorkloadSummary.tsx
  src/modules/75-ce/pages/perspective-details/__test__/PerspectiveDetailsPage.test.tsx
  src/modules/75-ce/pages/workload-details/WorkloadDetailsPage.tsx
  src/queries/ce/fetch_perspective_recommendations.gql
  src/services/ce/services.ts
  src/services/common/services.ts
Owners: @wings-software/ui-council

feat: [CCM-5398]: Updated string
  src/modules/75-ce/strings/strings.en.yaml
Owners: none

feat: [CCM-5398]: Added Workload Recommendations on Workload details page
  src/modules/75-ce/components/PerspectiveSummary/PerspectiveSummary.tsx
  src/modules/75-ce/components/PerspectiveSummary/RecommendationSummaryCard.tsx
  src/modules/75-ce/components/WorkloadSummary/WorkloadSummary.module.scss
  src/modules/75-ce/components/WorkloadSummary/WorkloadSummary.tsx
  src/modules/75-ce/pages/node-details/__test__/__snapshots__/NodeDetailsPage.test.tsx.snap
  src/modules/75-ce/pages/workload-details/WorkloadDetailsPage.tsx
  src/modules/75-ce/pages/workload-details/__test__/__snapshots__/WorkloadDetailsPage.test.tsx.snap
Owners: none

fix: [CCM-5398]: Redirection and filters login updated
  src/modules/75-ce/components/PerspectiveSummary/RecommendationSummaryCard.tsx
  src/modules/75-ce/components/WorkloadSummary/WorkloadSummary.tsx
  src/modules/75-ce/pages/recommendationList/RecommendationList.tsx
  src/modules/75-ce/pages/workload-details/WorkloadDetailsPage.tsx
Owners: none

fix: change spacing for filter module separator
  src/modules/70-pipeline/pages/pipeline-deployment-list/PipelineFilterForm/PipelineFilterForm.module.scss
Owners: @wings-software/ui-pipeline

feat: covered more test cases
  src/modules/75-ce/components/COEcsSelector/__tests__/COEcsSelector.test.tsx
  src/modules/75-ce/components/COEcsSelector/__tests__/__snapshots__/COEcsSelector.test.tsx.snap
Owners: none

feat: [CDC-16584]: expressions in template studio
  src/modules/72-templates-library/components/TemplateStudio/TemplateStudio.tsx
  src/modules/72-templates-library/components/TemplateVariablesContext/TemplateVariablesContext.tsx
  src/services/template-ng/index.tsx
Owners: @wings-software/ui-council

fix: Created a separate connectivity status component
  src/modules/35-connectors/pages/connectors/views/connectivityStatus/ConnectivityStatus.tsx
Owners: none

fix: Created a separate component for connectivity status
  src/modules/35-connectors/pages/connectors/views/ConnectorsListView.tsx
  src/modules/35-connectors/pages/connectors/views/connectivityStatus/ConnectivityStatus.tsx
Owners: none

fix: Moved code to utility
  src/modules/35-connectors/pages/connectors/utils/ConnectorListViewUtils.tsx
  src/modules/35-connectors/pages/connectors/views/ConnectorsListView.tsx
Owners: none

feat: [PL-21930]: Connector list view page sonar fixes
  src/modules/35-connectors/pages/connectors/views/ConnectorsListView.tsx
Owners: none

fix: Removed duplicate conditions
  src/modules/35-connectors/pages/connectors/views/connectivityStatus/ConnectivityStatus.tsx
Owners: none

fix: Updated Connector list view utils
  src/modules/35-connectors/pages/connectors/utils/ConnectorListViewUtils.tsx
Owners: none

fix: create string for deletes success message
  src/modules/35-connectors/pages/connectors/utils/ConnectorListViewUtils.tsx
  src/modules/35-connectors/pages/connectors/views/ConnectorsListView.tsx
  src/modules/35-connectors/strings/strings.en.yaml
  src/stringTypes.ts
Owners: none

fix: code refactoring
  src/modules/35-connectors/pages/connectors/utils/ConnectorListViewUtils.tsx
Owners: none

fix: Added tooltip to connectivity status
  src/modules/35-connectors/pages/connectors/views/connectivityStatus/ConnectivityStatus.tsx
Owners: none

fix: nexus and artifactory enabled
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactHelper.ts
Owners: @wings-software/ui-pipeline

feat: [CDB-62]: fix eslint import order
  src/modules/45-dashboards/pages/folders/FoldersPage.tsx
Owners: none

feat: [CDB-62]: dashboard manager permission checks for CRUD
  src/modules/45-dashboards/pages/folders/FoldersPage.tsx
  src/modules/45-dashboards/pages/home/HomePage.tsx
Owners: none

feat: [PL-22005]: Refactoring to reduce cognitive complexity
  src/modules/40-gitsync/components/FullSyncForm/FullSyncForm.tsx
  src/modules/40-gitsync/components/FullSyncForm/FullSyncFormHelper.tsx
  src/services/cd-ng/index.tsx
Owners: @wings-software/ui-council

feat: [PL-22005]: Tests fix
  src/modules/40-gitsync/components/FullSyncForm/__tests__/FullSyncForm.test.tsx
  src/modules/40-gitsync/components/FullSyncForm/__tests__/__snapshots__/FullSyncForm.test.tsx.snap
Owners: none

fix: ignore failed popover status was fixed to failed from success
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionGraphView/ExecutionGraph/components/StageHeader.tsx
  src/modules/75-ce/components/PerspectiveBuilderFilters/__test__/__snapshots__/OperandSelector.test.tsx.snap
Owners: @wings-software/ui-pipeline

fix: [CVS-8993]: Cypress integration for Verify step
  cypress/fixtures/cv/verifyStep/getDeploumentTimeseriesNoData.json
  cypress/fixtures/cv/verifyStep/getDeploymentActivitySummary.json
  cypress/fixtures/cv/verifyStep/getDeploymentTimeseriesData.json
  cypress/fixtures/cv/verifyStep/getHealthSourceFilters.json
  cypress/fixtures/cv/verifyStep/getNodeNameFilters.json
  cypress/fixtures/cv/verifyStep/getTransactionNameFilters.json
  cypress/fixtures/pipeline/api/pipelines/getExecutionDetails.json
  cypress/fixtures/pipeline/api/pipelines/getExecutionSummary.json
  cypress/fixtures/pipeline/api/pipelines/getNodeExecutionDetails.json
  cypress/fixtures/pipeline/api/pipelines/getPipelineDetails.json
  cypress/fixtures/pipeline/api/pipelines/getPipelineList.json
  cypress/fixtures/pipeline/api/pipelines/pipelineSummary.json
  cypress/integration/85-cv/verifyStep.spec.ts
  src/modules/85-cv/components/ExecutionVerification/components/DeploymentMetrics/DeploymentMetrics.tsx
  src/modules/85-cv/components/ExecutionVerification/components/DeploymentMetrics/components/DeploymentMetricsAnalysisRow/DeploymentMetricsAnalysisRow.tsx
  src/modules/85-cv/components/ExecutionVerification/components/DeploymentProgressAndNodes/components/DeploymentNodes/DeploymentNodes.tsx
  src/modules/85-cv/components/ExecutionVerification/components/ExecutionVerificationSummary/components/PrimaryandCanaryNodes/PrimaryAndCanaryNodes.tsx
  src/modules/85-cv/components/ExecutionVerification/components/ExecutionVerificationSummary/components/SummaryOfDeployedNodes/SummaryOfDeployedNodes.tsx
  src/modules/85-cv/components/ExecutionVerification/components/ExecutionVerificationSummary/components/SummaryOfDeployedNodes/tests/__snapshots__/SummaryOfDeployedNodes.test.tsx.snap
Owners: @wings-software/ui-cv

fix: [CVS-9027]: Refactor cypress tests
  cypress/integration/85-cv/verifyStep.spec.ts
  cypress/support/70-pipeline/constants.ts
  cypress/support/85-cv/verifyStep/constants.ts
Owners: none

CODEOWNERS:

.github/ @wings-software/ui-council
.eslintrc.yml @wings-software/ui-council
.prettierignore @wings-software/ui-council
.prettierrc.yml @wings-software/ui-council
package.json @wings-software/ui-council
tsconfig.json @wings-software/ui-council
tsconfig-eslint.json @wings-software/ui-council
webpack.config.js @wings-software/ui-council
webpack.devServerProxy.config.js @wings-software/ui-council
jest.config.js @wings-software/ui-council
coverage-groups.json @wings-software/ui-council
dockerfile @wings-software/ui-council
src/framework/ @wings-software/ui-council
src/modules/10-common/navigation/ @wings-software/ui-council
src/modules/10-common/RouteDefinitions.ts @wings-software/ui-council
src/services/ @wings-software/ui-council
harnessci.Dockerfile @wings-software/ui-council
restful-react.config.js @wings-software/ui-council
sonar-project.properties @wings-software/ui-council
yarn.lock @wings-software/ui-council
.dockerignore @wings-software/ui-council
.storybook/ @wings-software/ui-council
scripts/ @wings-software/ui-council
certificates/ @wings-software/ui-council
src/modules/70-pipeline @wings-software/ui-pipeline
src/modules/85-cv @wings-software/ui-cv
