Repository DFieldFL/harness-core-ui, changes with the owners that CODEOWNERS names for each.
All owners: @wings-software/ui-council, @wings-software/ui-pipeline, @wings-software/ui-cv

feat: [PL-22005]: Refactoring to reduce cognitive complexity
  src/modules/40-gitsync/components/FullSyncForm/FullSyncForm.tsx
Owners: none

fix: Refactored Connectivity status
  src/modules/35-connectors/pages/connectors/views/connectivityStatus/ConnectivityStatus.tsx
Owners: none

fix: [CVS-8847]: SLO targent and error budget reset changes
  src/modules/85-cv/hooks/useErrorBudgetRestHook/views/ErrorBudgetResetForm.tsx
  src/modules/85-cv/pages/slos/__tests__/__snapshots__/SLOCardHeader.test.tsx.snap
  src/modules/85-cv/pages/slos/components/CVCreateSLO/components/CreateSLOForm/components/SLI/__tests__/__snapshots__/SLI.test.tsx.snap
  src/modules/85-cv/pages/slos/components/CVCreateSLO/components/CreateSLOForm/components/SLI/views/PickMetric.tsx
  src/modules/85-cv/pages/slos/components/CVCreateSLO/components/CreateSLOForm/components/SLOTargetAndBudgetPolicy/SLOTargetAndBudgetPolicy.tsx
  src/modules/85-cv/pages/slos/components/CVCreateSLO/components/CreateSLOForm/components/SLOTargetAndBudgetPolicy/__tests__/__snapshots__/SLOTargetAndBudgetPolicy.test.tsx.snap
Owners: @wings-software/ui-cv

fix: Reduced cognitive complexity
  src/modules/35-connectors/pages/connectors/views/connectivityStatus/ConnectivityStatus.tsx
Owners: none

fix: Reduced cogntivie complexity
  src/modules/35-connectors/pages/connectors/views/connectivityStatus/ConnectivityStatus.tsx
Owners: none

feat: [PL-22005]: Refactoring to reduce cognitive complexity completed
  src/modules/40-gitsync/components/FullSyncForm/FullSyncForm.tsx
  src/modules/40-gitsync/components/FullSyncForm/FullSyncFormHelper.tsx
Owners: none

feat: [CVNG-3987]: Dynatrace Integration for Change Intelligence
  src/modules/10-common/featureFlags.ts
  src/modules/85-cv/pages/health-source/HealthSourceDrawer/HealthSourceDrawerContent.types.ts
  src/modules/85-cv/pages/health-source/HealthSourceDrawer/component/customiseHealthSource/CustomiseHealthSource.utils.tsx
  src/modules/85-cv/pages/health-source/HealthSourceDrawer/component/defineHealthSource/DefineHealthSource.constant.ts
  src/modules/85-cv/pages/health-source/HealthSourceDrawer/component/defineHealthSource/DefineHealthSource.tsx
  src/modules/85-cv/pages/health-source/HealthSourceDrawer/component/defineHealthSource/DefineHealthSource.utils.ts
  src/modules/85-cv/pages/health-source/HealthSourceTable/HealthSourceTable.utils.ts
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/DynatraceHealthSource.constants.ts
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/DynatraceHealthSource.module.scss
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/DynatraceHealthSource.module.scss.d.ts
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/DynatraceHealthSource.tsx
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/DynatraceHealthSource.types.ts
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/DynatraceHealthSource.utils.tsx
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/DynatraceHealthSourceContainer.tsx
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/components/DynatraceCustomMetrics/DynatraceCustomMetrics.tsx
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/components/DynatraceCustomMetrics/DynatraceCustomMetrics.type.ts
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/components/DynatraceCustomMetrics/DynatraceCustomMetrics.utils.ts
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/components/DynatraceCustomMetrics/tests/DynatraceCustomMetrics.test.tsx
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/components/DynatraceCustomMetrics/tests/DynatraceCustomMetrics.utils.test.tsx
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/components/DynatraceCustomMetrics/tests/mock.ts
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/components/DynatraceMetricPacksToService/DynatraceMetricPacksToService.tsx
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/components/DynatraceMetricPacksToService/DynatraceMetricPacksToService.types.ts
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/tests/DynatraceHealthSource.test.tsx
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/tests/DynatraceHealthSource.utils.test.tsx
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/tests/DynatraceHealthSourceContainer.test.tsx
  src/modules/85-cv/pages/health-source/connectors/Dynatrace/tests/mock.ts
  src/modules/85-cv/pages/health-source/connectors/MonitoredServiceConnector.constants.ts
  src/modules/85-cv/pages/health-source/connectors/MonitoredServiceConnector.utils.tsx
  src/modules/85-cv/pages/health-source/types.ts
  src/modules/85-cv/strings/strings.en.yaml
  src/services/cv/index.tsx
  src/services/cv/overrides.yaml
  src/services/cv/swagger.json
  src/stringTypes.ts
Owners: @wings-software/ui-cv, @wings-software/ui-council

feat: change type of password input field for certificate upload form to password
  src/modules/75-ce/components/COAccessPointList/CertificateUploadScreen.tsx
  src/modules/75-ce/components/COAccessPointList/__tests__/__snapshots__/CertificateUploadScreen.test.tsx.snap
Owners: none

feat: [OENG-12946]: ErrorTracking arc screen url micro-frontend
  src/modules/85-cv/components/LogsAnalysis/components/LogAnalysisRow/LogAnalysisRow.tsx
  src/modules/85-cv/components/LogsAnalysis/components/LogAnalysisRow/LogAnalysisRow.utils.ts
  src/modules/85-cv/components/LogsAnalysis/components/LogAnalysisRow/__tests__/LogAnalysisRow.utils.test.ts
Owners: @wings-software/ui-cv

feat: [OENG-12946]: tests
  src/modules/85-cv/components/LogsAnalysis/components/LogAnalysisRow/__tests__/LogAnalysisRow.test.tsx
Owners: @wings-software/ui-cv

feat: [SRM-9399]: Add Errors to SRM Live Monitoring
  src/modules/85-cv/components/ErrorTrackingAnalysis/ErrorTrackingAnalysis.constants.ts
  src/modules/85-cv/components/ErrorTrackingAnalysis/ErrorTrackingAnalysis.module.scss
  src/modules/85-cv/components/ErrorTrackingAnalysis/ErrorTrackingAnalysis.module.scss.d.ts
  src/modules/85-cv/components/ErrorTrackingAnalysis/ErrorTrackingAnalysis.tsx
  src/modules/85-cv/components/ErrorTrackingAnalysis/ErrorTrackingAnalysis.types.ts
  src/modules/85-cv/components/ErrorTrackingAnalysis/ErrorTrackingAnalysis.utils.ts
  src/modules/85-cv/components/ErrorTrackingAnalysis/__tests__/ErrorTrackingAnalysis.mocks.ts
  src/modules/85-cv/components/ErrorTrackingAnalysis/__tests__/ErrorTrackingAnalysis.test.tsx
  src/modules/85-cv/components/ErrorTrackingAnalysis/__tests__/ErrorTrackingAnalysis.utils.test.tsx
  src/modules/85-cv/components/ErrorTrackingAnalysis/__tests__/__snapshots__/ErrorTrackingAnalysis.test.tsx.snap
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/ServiceHealth.tsx
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/components/ErrorTracking/ErrorTracking.module.scss
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/components/ErrorTracking/ErrorTracking.module.scss.d.ts
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/components/ErrorTracking/ErrorTracking.tsx
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/components/ErrorTracking/__tests__/ErrorTracking.mock.ts
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/components/ErrorTracking/__tests__/ErrorTracking.test.tsx
  src/modules/85-cv/strings/strings.en.yaml
  src/services/cv/index.tsx
  src/services/cv/overrides.yaml
  src/stringTypes.ts
Owners: @wings-software/ui-cv, @wings-software/ui-council

feat: [SRM-9399]: tests
  src/modules/85-cv/components/ErrorTrackingAnalysis/ErrorTrackingAnalysis.constants.ts
  src/modules/85-cv/components/ErrorTrackingAnalysis/__tests__/ErrorTrackingAnalysis.test.tsx
  src/modules/85-cv/components/ErrorTrackingAnalysis/__tests__/__snapshots__/ErrorTrackingAnalysis.test.tsx.snap
Owners: @wings-software/ui-cv

feat: [SRM-9399]: increase test coverage
  src/modules/85-cv/components/ErrorTrackingAnalysis/__tests__/ErrorTrackingAnalysis.mocks.ts
  src/modules/85-cv/components/ErrorTrackingAnalysis/__tests__/ErrorTrackingAnalysis.test.tsx
  src/modules/85-cv/components/ErrorTrackingAnalysis/__tests__/ErrorTrackingAnalysis.utils.test.tsx
Owners: @wings-software/ui-cv

feat: [SRM-9295]: remove SID
  src/modules/35-connectors/components/CreateConnector/ErrorTrackingConnector/CreateErrorTrackingConnector.tsx
  src/modules/35-connectors/components/CreateConnector/ErrorTrackingConnector/utils.ts
  src/modules/35-connectors/pages/connectors/utils/ConnectorUtils.ts
  src/modules/35-connectors/strings/strings.en.yaml
  src/services/ce/index.tsx
  src/services/ce/swagger.json
  src/services/cv/index.tsx
  src/services/cv/swagger.json
  src/services/portal/index.tsx
  src/services/portal/swagger.json
  src/stringTypes.ts
Owners: @wings-software/ui-council

feat: [SRM-9546]: error tracking icon
  src/modules/85-cv/pages/health-source/HealthSourceTable/HealthSourceTable.utils.ts
Owners: @wings-software/ui-cv

fix: [SRM-9997]: Fix Live Monittoring Error Cluster view
  src/modules/85-cv/components/ErrorTrackingAnalysis/ErrorTrackingAnalysis.tsx
  src/modules/85-cv/components/ErrorTrackingAnalysis/__tests__/ErrorTrackingAnalysis.test.tsx
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/components/ErrorTracking/__tests__/ErrorTracking.test.tsx
Owners: @wings-software/ui-cv

Revert "feat: [SRM-9821]: error tracking remove url input (#8344)"
  src/modules/35-connectors/components/CreateConnector/ErrorTrackingConnector/CreateErrorTrackingConnector.tsx
  src/modules/35-connectors/components/CreateConnector/ErrorTrackingConnector/utils.ts
  src/modules/35-connectors/pages/connectors/utils/ConnectorUtils.ts
Owners: none

Revert "feat: [SRM-9821]: error tracking remove url input (#8344)"
  src/modules/35-connectors/components/CreateConnector/ErrorTrackingConnector/CreateErrorTrackingConnector.tsx
  src/modules/35-connectors/components/CreateConnector/ErrorTrackingConnector/utils.ts
  src/modules/35-connectors/pages/connectors/utils/ConnectorUtils.ts
Owners: none

feat: [SRM-9821]: bump version
  package.json
Owners: @wings-software/ui-council

feat: [SRM-9821]: error tracking remove url input
  src/modules/35-connectors/components/CreateConnector/ErrorTrackingConnector/CreateErrorTrackingConnector.tsx
  src/modules/35-connectors/components/CreateConnector/ErrorTrackingConnector/utils.ts
  src/modules/35-connectors/pages/connectors/utils/ConnectorUtils.ts
Owners: none

feat: [SRM-9868]: removed unnecessary code
  src/modules/85-cv/pages/monitored-service/CVMonitoredService/components/MonitoredServiceListView/MonitoredServiceListView.tsx
Owners: @wings-software/ui-cv

feat: [SRM-9868]: Add ET copy config to health sources
  package.json
  src/modules/85-cv/components/ContextMenuActions/ContextMenuActions.module.scss
  src/modules/85-cv/components/ContextMenuActions/ContextMenuActions.module.scss.d.ts
  src/modules/85-cv/components/ContextMenuActions/ContextMenuActions.tsx
  src/modules/85-cv/pages/monitored-service/CVMonitoredService/CVMonitoredService.types.ts
  src/modules/85-cv/pages/monitored-service/CVMonitoredService/components/MonitoredServiceListView/MonitoredServiceListView.tsx
  src/modules/85-cv/strings/strings.en.yaml
  src/stringTypes.ts
Owners: @wings-software/ui-council, @wings-software/ui-cv

feat: [SRM-10723]: add microfrontend components for Error Tracking
  src/modules/10-common/RouteDefinitions.ts
  src/modules/85-cv/ErrorTrackingApp.tsx
  src/modules/85-cv/RouteDestinations.tsx
  src/modules/85-cv/components/LogsAnalysis/components/LogAnalysisRow/LogAnalysisRow.utils.ts
  src/modules/85-cv/components/LogsAnalysis/components/LogAnalysisRow/__tests__/LogAnalysisRow.utils.test.ts
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/components/ErrorTracking/ErrorTracking.module.scss
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/components/ErrorTracking/ErrorTracking.module.scss.d.ts
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/components/ErrorTracking/ErrorTracking.tsx
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/components/ErrorTracking/__tests__/ErrorTracking.test.tsx
Owners: @wings-software/ui-council, @wings-software/ui-cv

fix: tests
  src/modules/85-cv/ErrorTrackingApp.tsx
Owners: @wings-software/ui-cv

fix: SRM-10723: Spacing on ET SRM list
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/components/ErrorTracking/ErrorTracking.tsx
Owners: @wings-software/ui-cv

fix: SRM-10723: Spacing on ET SRM list
  src/modules/85-cv/pages/monitored-service/components/ServiceHealth/components/ErrorTracking/ErrorTracking.tsx
Owners: @wings-software/ui-cv

fix: version bump
  package.json
Owners: @wings-software/ui-council

feat: [SRM-10749]: Changed ET CI End time to be fixed after build has finish
  src/modules/70-pipeline/pages/execution/ExecutionErrorTrackingView/ExecutionErrorTrackingView.tsx
Owners: @wings-software/ui-pipeline

feat: [SRM-10747]: As a Harness CI/NG customer, I want to be able turn on Error Tracking in the Run Tests step in the Build Stage
  src/modules/75-ci/components/PipelineSteps/RunTestsStep/RunTestsStepBase.tsx
  src/modules/75-ci/strings/strings.en.yaml
  src/stringTypes.ts
Owners: none

feat: increase test coverage
  src/modules/75-ci/components/PipelineSteps/RunTestsStep/__test__/RunTestsStep.test.tsx
  src/modules/75-ci/components/PipelineSteps/RunTestsStep/__test__/__snapshots__/RunTestsStep.test.tsx.snap
Owners: none

feat: [SRM-10885]: Add the ability to navigate back from the arc screen
  src/modules/28-et/ErrorTrackingApp.tsx
  src/modules/70-pipeline/pages/execution/ExecutionErrorTrackingView/ExecutionErrorTrackingView.tsx
Owners: @wings-software/ui-pipeline

feat: [SRM-11006]: Add comment for java 10 and above tooling option
  src/modules/75-ci/components/PipelineSteps/RunTestsStep/RunTestsStepBase.tsx
Owners: none

CODEOWNERS:

.github/ @wings-software/ui-council
.eslintrc.yml @wings-software/ui-council
.prettierignore @wings-software/ui-council
.prettierrc.yml @wings-software/ui-council
package.json @wings-software/ui-council
tsconfig.json @wings-software/ui-council
tsconfig-eslint.json @wings-software/ui-council
webpack.config.js @wings-software/ui-council
webpack.devServerProxy.config.js @wings-software/ui-council
jest.config.js @wings-software/ui-council
coverage-groups.json @wings-software/ui-council
dockerfile @wings-software/ui-council
src/framework/ @wings-software/ui-council
src/modules/10-common/navigation/ @wings-software/ui-council
src/modules/10-common/RouteDefinitions.ts @wings-software/ui-council
src/services/ @wings-software/ui-council
harnessci.Dockerfile @wings-software/ui-council
restful-react.config.js @wings-software/ui-council
sonar-project.properties @wings-software/ui-council
yarn.lock @wings-software/ui-council
.dockerignore @wings-software/ui-council
.storybook/ @wings-software/ui-council
scripts/ @wings-software/ui-council
certificates/ @wings-software/ui-council
src/modules/70-pipeline @wings-software/ui-pipeline
src/modules/85-cv @wings-software/ui-cv
