Repository DFieldFL/harness-core-ui, changes with the owners that CODEOWNERS names for each.
All owners: @wings-software/ui-council, @wings-software/ui-platform, @wings-software/ui-pipeline, @wings-software/ui-cv

CODEOWNERS:

.github/ @wings-software/ui-council
.eslintrc.yml @wings-software/ui-council
.prettierignore @wings-software/ui-council
.prettierrc.yml @wings-software/ui-council
package.json @wings-software/ui-council
tsconfig.json @wings-software/ui-council
tsconfig-eslint.json @wings-software/ui-council
webpack.config.js @wings-software/ui-council
webpack.devServerProxy.config.js @wings-software/ui-council
jest.config.js @wings-software/ui-council
coverage-groups.json @wings-software/ui-council
dockerfile @wings-software/ui-council
src/framework/ @wings-software/ui-council
src/modules/10-common/navigation/ @wings-software/ui-council
src/modules/10-common/RouteDefinitions.ts @wings-software/ui-council
src/services/ @wings-software/ui-council
harnessci.Dockerfile @wings-software/ui-council
restful-react.config.js @wings-software/ui-council
sonar-project.properties @wings-software/ui-council
yarn.lock @wings-software/ui-council
.dockerignore @wings-software/ui-council
.storybook/ @wings-software/ui-council
scripts/ @wings-software/ui-council
certificates/ @wings-software/ui-council
src/modules/15-notifications @wings-software/ui-platform
src/modules/20-rbac @wings-software/ui-platform
src/modules/30-auth-settings @wings-software/ui-platform
src/modules/30-secrets @wings-software/ui-platform
src/modules/35-connectors @wings-software/ui-platform
src/modules/35-user-profile @wings-software/ui-platform
src/modules/40-gitsync @wings-software/ui-platform
src/modules/45-projects-orgs @wings-software/ui-platform
src/modules/70-pipeline @wings-software/ui-pipeline
src/modules/85-cv @wings-software/ui-cv

test: removed unused files
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/BaseForm.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/Utils.tsx
Owners: none

test: cd execution summary
  src/modules/75-cd/components/CDExecutionSummary/CDExecutionSummary.tsx
  src/modules/75-cd/components/CDExecutionSummary/__tests__/CDExecutionSummary.test.tsx
  src/modules/75-cd/components/CDExecutionSummary/__tests__/__snapshots__/CDExecutionSummary.test.tsx.snap
  src/modules/75-cd/components/CDExecutionSummary/__tests__/executionSummaryProps.json
  src/modules/75-cd/components/CDExecutionSummary/__tests__/servicesProps.json
Owners: none

test: shell script variables view
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/ShellScriptVariablesView.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/__test__/ShellScriptVariablesView.test.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/__test__/__snapshots__/ShellScriptVariablesView.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/__test__/shellScriptVariablesViewProps.json
Owners: none

test: file not used
  src/modules/75-cd/constants.ts
Owners: none

test: istanbul ignore if
  src/modules/75-cd/components/Services/common.ts
Owners: none

test: git ops servers home page
  src/modules/75-cd/pages/gitops/__tests__/GitOpsServersHomePage.test.tsx
  src/modules/75-cd/pages/gitops/__tests__/__snapshots__/GitOpsServersHomePage.test.tsx.snap
Owners: none

feat: [PL-20872]: Refactor Reference Component
  src/modules/10-common/components/CollapsableList/CollapsableList.module.scss
  src/modules/10-common/components/CollapsableList/CollapsableList.module.scss.d.ts
  src/modules/10-common/components/CollapsableList/CollapsableList.tsx
  src/modules/10-common/components/EntityReference/EntityReference.module.scss
  src/modules/10-common/components/EntityReference/EntityReference.tsx
  src/modules/10-common/components/ReferenceSelect/ReferenceSelect.module.scss
  src/modules/10-common/components/ReferenceSelect/ReferenceSelect.tsx
  src/modules/30-secrets/modals/CreateOrSelectSecretModal/useCreateOrSelectSecretModal.tsx
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.module.scss
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.tsx
Owners: @wings-software/ui-platform

feat: [PL-20872]: Refactor Reference Component
  src/modules/10-common/components/CollapsableList/CollapsableList.tsx
  src/modules/10-common/components/EntityReference/EntityReference.module.scss
  src/modules/10-common/components/EntityReference/EntityReference.tsx
  src/modules/10-common/strings/strings.en.yaml
  src/modules/30-secrets/components/SecretReference/SecretReference.tsx
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.module.scss
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.tsx
  src/modules/35-connectors/strings/strings.en.yaml
  src/stringTypes.ts
Owners: @wings-software/ui-platform

feat: [PL-20872]: Added for secrets
  src/modules/10-common/components/CollapsableList/CollapsableList.module.scss
  src/modules/10-common/components/CollapsableList/CollapsableList.module.scss.d.ts
  src/modules/10-common/components/CollapsableList/CollapsableList.tsx
  src/modules/10-common/components/EntityReference/EntityReference.tsx
  src/modules/30-secrets/components/SecretReference/SecretReference.module.scss
  src/modules/30-secrets/components/SecretReference/SecretReference.module.scss.d.ts
  src/modules/30-secrets/components/SecretReference/SecretReference.tsx
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.tsx
  src/modules/35-connectors/components/ConnectorReferenceField/FormMultiTypeConnectorField.tsx
Owners: @wings-software/ui-platform

fix: [PL-20872]: Added review comment
  src/modules/10-common/components/CollapsableList/CollapsableList.tsx
Owners: none

feat: [PL-20872]: Added for secrets
  src/modules/10-common/components/EntityReference/EntityReference.tsx
  src/modules/10-common/components/ReferenceSelect/ReferenceSelect.module.scss
  src/modules/10-common/components/ReferenceSelect/ReferenceSelect.tsx
  src/modules/30-secrets/components/CreateOrSelectSecret/CreateOrSelectSecret.module.scss
  src/modules/30-secrets/components/SecretReference/SecretReference.module.scss
  src/modules/30-secrets/components/SecretReference/SecretReference.module.scss.d.ts
  src/modules/30-secrets/components/SecretReference/SecretReference.tsx
  src/modules/30-secrets/modals/CreateOrSelectSecretModal/useCreateOrSelectSecretModal.module.scss
  src/modules/30-secrets/modals/CreateOrSelectSecretModal/useCreateOrSelectSecretModal.tsx
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.module.scss
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.tsx
Owners: @wings-software/ui-platform

fix: [PL-20872]: Fix search and pagination
  src/modules/10-common/components/EntityReference/EntityReference.tsx
Owners: none

fix: [PL-20872]: Fix Secret css and create integration
  src/modules/10-common/components/ReferenceSelect/ReferenceSelect.module.scss
  src/modules/10-common/components/ReferenceSelect/ReferenceSelect.tsx
  src/modules/30-secrets/components/CreateOrSelectSecret/CreateOrSelectSecret.module.scss
  src/modules/30-secrets/components/SecretReference/SecretReference.tsx
  src/modules/30-secrets/modals/CreateOrSelectSecretModal/useCreateOrSelectSecretModal.module.scss
  src/modules/30-secrets/modals/CreateOrSelectSecretModal/useCreateOrSelectSecretModal.module.scss.d.ts
  src/modules/30-secrets/modals/CreateOrSelectSecretModal/useCreateOrSelectSecretModal.tsx
Owners: @wings-software/ui-platform

test: new provider modal
  src/modules/75-cd/pages/gitops/NativeArgo/NewProviderModal/NewProviderModal.tsx
  src/modules/75-cd/pages/gitops/NativeArgo/__tests__/NewProviderModal.test.tsx
  src/modules/75-cd/pages/gitops/NativeArgo/__tests__/__snapshots__/NewProviderModal.test.tsx.snap
Owners: none

fix: [PL-20872]: Fix snaps
  src/modules/30-secrets/components/CreateOrSelectSecret/__tests__/CreateOrSelectSecret.test.tsx
  src/modules/30-secrets/components/CreateOrSelectSecret/__tests__/__snapshots__/CreateOrSelectSecret.test.tsx.snap
  src/modules/30-secrets/components/SecretInput/__test__/__snapshots__/SecretInput.test.tsx.snap
  src/modules/30-secrets/components/SecretReference/__test__/__snapshots__/SecretReference.test.tsx.snap
  src/modules/40-gitsync/components/gitSyncRepoForm/__tests__/__snapshots__/GitSyncRepoForm.test.tsx.snap
Owners: @wings-software/ui-platform

fix: [PL-20872]: Fix Secret css and create integration
  src/modules/10-common/components/CollapsableList/CollapsableList.module.scss
  src/modules/10-common/components/CollapsableList/CollapsableList.module.scss.d.ts
  src/modules/10-common/components/CollapsableList/CollapsableList.tsx
  src/modules/10-common/components/ReferenceSelect/ReferenceSelect.module.scss
  src/modules/10-common/components/ReferenceSelect/ReferenceSelect.tsx
  src/modules/30-secrets/components/CreateOrSelectSecret/CreateOrSelectSecret.module.scss
  src/modules/30-secrets/components/SecretReference/SecretReference.module.scss
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.module.scss
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.tsx
Owners: @wings-software/ui-platform

feat: [PL-20872]: merged
  src/modules/10-common/components/CollapsableList/CollapsableList.module.scss.d.ts
  src/modules/10-common/components/EntityReference/EntityReference.module.scss.d.ts
  src/modules/30-secrets/components/SecretReference/SecretReference.module.scss.d.ts
  src/modules/30-secrets/modals/CreateOrSelectSecretModal/useCreateOrSelectSecretModal.module.scss.d.ts
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.module.scss.d.ts
Owners: @wings-software/ui-platform

test: trend popover
  src/modules/75-cd/components/TrendPopover/TrendPopover.tsx
  src/modules/75-cd/components/TrendPopover/__tests__/TrendPopover.test.tsx
  src/modules/75-cd/components/TrendPopover/__tests__/__snapshots__/TrendPopover.test.tsx.snap
Owners: none

test: service popover
  src/modules/75-cd/components/ServicePopoverCard/__tests__/ServicePopoverCard.test.tsx
  src/modules/75-cd/components/ServicePopoverCard/__tests__/__snapshots__/ServicePopoverCard.test.tsx.snap
Owners: none

test: kubernetes artifacts
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/KubernetesArtifacts.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/KubernetesArtifacts.test.tsx.snap
Owners: none

test: tf plan var files
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/__tests__/TfPlanVarFiles.test.tsx
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/__tests__/__snapshots__/TfPlanVarFiles.test.tsx.snap
Owners: none

test: k8s manifests
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesManifests/KubernetesManifests.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/KubernetesManifests.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/KubernetesManifests.test.tsx.snap
Owners: none

test: k8s service spect input set mode
  src/modules/70-pipeline/components/AbstractSteps/StepWidget.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesManifests/KubernetesManifests.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesServiceSpecInputSetMode.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/KubernetesServiceSpecInputSetmode.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/KubernetesManifests.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/KubernetesServiceSpecInputSetmode.test.tsx.snap
Owners: @wings-software/ui-pipeline

test: service instances widget
  src/modules/75-cd/components/Services/ServiceInstancesWidget/ServiceInstancesWidget.tsx
  src/modules/75-cd/components/Services/__tests__/ServiceInstancesWidget.test.tsx
  src/modules/75-cd/components/Services/__tests__/__snapshots__/ServiceInstancesWidget.test.tsx.snap
  src/modules/75-cd/components/TrendPopover/__tests__/__snapshots__/TrendPopover.test.tsx.snap
Owners: none

test: trend popover
  src/modules/75-cd/components/TrendPopover/__tests__/__snapshots__/TrendPopover.test.tsx.snap
Owners: none

test: k8s manifests
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesManifests/KubernetesManifests.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/KubernetesManifests.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/KubernetesManifests.test.tsx.snap
Owners: none

test: k8s service spect input set mode
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesManifests/KubernetesManifests.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/KubernetesManifests.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/KubernetesManifests.test.tsx.snap
Owners: none

test: removed unused files
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/BaseForm.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/Utils.tsx
Owners: none

test: cd execution summary
  src/modules/75-cd/components/CDExecutionSummary/CDExecutionSummary.tsx
  src/modules/75-cd/components/CDExecutionSummary/__tests__/executionSummaryProps.json
  src/modules/75-cd/components/CDExecutionSummary/__tests__/servicesProps.json
Owners: none

test: shell script variables view
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/ShellScriptVariablesView.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/__test__/ShellScriptVariablesView.test.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/__test__/__snapshots__/ShellScriptVariablesView.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/__test__/shellScriptVariablesViewProps.json
Owners: none

test: istanbul ignore if
  src/modules/75-cd/components/Services/common.ts
Owners: none

test: service popover
  src/modules/75-cd/components/ServicePopoverCard/__tests__/ServicePopoverCard.test.tsx
  src/modules/75-cd/components/ServicePopoverCard/__tests__/__snapshots__/ServicePopoverCard.test.tsx.snap
Owners: none

test: k8s service spect input set mode
  src/modules/70-pipeline/components/AbstractSteps/StepWidget.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesManifests/KubernetesManifests.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesServiceSpecInputSetMode.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/KubernetesServiceSpecInputSetmode.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/KubernetesManifests.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/KubernetesServiceSpecInputSetmode.test.tsx.snap
Owners: @wings-software/ui-pipeline

test: tf plan var files
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/__tests__/TfPlanVarFiles.test.tsx
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/__tests__/__snapshots__/TfPlanVarFiles.test.tsx.snap
Owners: none

test: new provider modal
  src/modules/75-cd/pages/gitops/NativeArgo/NewProviderModal/NewProviderModal.tsx
  src/modules/75-cd/pages/gitops/NativeArgo/__tests__/NewProviderModal.test.tsx
  src/modules/75-cd/pages/gitops/NativeArgo/__tests__/__snapshots__/NewProviderModal.test.tsx.snap
Owners: none

test: kubernetes artifacts
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/KubernetesArtifacts.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/KubernetesArtifacts.test.tsx.snap
Owners: none

test: trend popover
  src/modules/75-cd/components/TrendPopover/TrendPopover.tsx
  src/modules/75-cd/components/TrendPopover/__tests__/TrendPopover.test.tsx
  src/modules/75-cd/components/TrendPopover/__tests__/__snapshots__/TrendPopover.test.tsx.snap
Owners: none

test: k8s service spect input set mode
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesManifests/KubernetesManifests.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/KubernetesManifests.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/KubernetesManifests.test.tsx.snap
Owners: none

test: k8s manifests
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesManifests/KubernetesManifests.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/KubernetesManifests.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/KubernetesManifests.test.tsx.snap
Owners: none

test: file not used
  src/modules/75-cd/constants.ts
Owners: none
