Repository DFieldFL/harness-core-ui, changes with the owners that CODEOWNERS names for each.
All owners: @wings-software/ui-council, @wings-software/ui-pipeline, @wings-software/ui-cv

fix: [DEL-3118]: delegate yaml name issue
  src/modules/30-delegates/components/CreateDelegate/DockerDelegate/Step2Script/Step2Script.tsx
  src/modules/30-delegates/components/CreateDelegate/DockerDelegate/__test__/__snapshots__/Step2Script.test.tsx.snap
  src/modules/30-delegates/components/CreateDelegate/K8sDelegate/StepReviewScript/Stepk8sReviewScript.tsx
  src/strings/strings.en.yaml
Owners: none

fix: remove unused string var
  src/modules/75-cd/strings/strings.en.yaml
  src/stringTypes.ts
Owners: none

fix: remove pinned webpack version
  package.json
  yarn.lock
Owners: @wings-software/ui-council

fix: GIT-533 Update the navigation from enterprise gitops to gitops
  package.json
  src/modules/70-pipeline/components/Diagram/Diagram.module.scss.d.ts
  src/modules/75-cd/components/CDSideNav/CDSideNav.tsx
  yarn.lock
Owners: @wings-software/ui-council, @wings-software/ui-pipeline

fix: revert yarn.lock changes
  yarn.lock
Owners: @wings-software/ui-council

feat: [CI-3335]: error strip and pipeline comparison
  src/modules/10-common/components/Wizard/Wizard.tsx
  src/modules/10-common/components/Wizard/WizardFooter.tsx
  src/modules/10-common/components/Wizard/WizardUtils.tsx
  src/modules/70-pipeline/pages/triggers/TriggersWizardPage.tsx
  src/modules/70-pipeline/pages/triggers/utils/TriggersWizardPageUtils.ts
Owners: @wings-software/ui-pipeline

feat: [CI-3335]: prevent submission when required errors
  src/modules/10-common/components/Wizard/Wizard.tsx
  src/modules/10-common/components/Wizard/WizardFooter.tsx
  src/modules/70-pipeline/pages/triggers/TriggersWizardPage.tsx
Owners: @wings-software/ui-pipeline

feat: [CI-3335]: correctly handling error and no error submissions from visual and yaml error
  src/modules/10-common/components/Wizard/WizardFooter.tsx
  src/modules/70-pipeline/pages/triggers/TriggersWizardPage.tsx
Owners: @wings-software/ui-pipeline

feat: [PL-22005]: Change for edit confif wip
  src/modules/40-gitsync/components/FullSyncForm/FullSyncForm.module.scss
  src/modules/40-gitsync/components/FullSyncForm/FullSyncForm.tsx
  src/modules/40-gitsync/pages/config/GitSyncConfigTab.module.scss
  src/modules/40-gitsync/pages/config/GitSyncConfigTab.module.scss.d.ts
  src/modules/40-gitsync/pages/config/GitSyncConfigTab.tsx
  src/modules/40-gitsync/strings/strings.en.yaml
  src/stringTypes.ts
Owners: none

feat: [PL-22005]: Adding mockdata and basic tests
  src/modules/40-gitsync/components/FullSyncForm/__tests__/FullSyncForm.test.tsx
  src/modules/40-gitsync/components/FullSyncForm/__tests__/mockData/mockConfig.json
  src/modules/40-gitsync/pages/config/__tests__/__snapshots__/GitSyncConfigTab.test.tsx.snap
Owners: none

test: Add unit tests for tfApply and tfDestory
  src/modules/70-pipeline/components/InputSetSelector/__tests__/__snapshots__/InputSetSelector.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TFRemoteWizard.tsx
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TFVarFileList.tsx
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TFVarStore.tsx
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformConfigForm.module.scss
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformConfigForm.module.scss.d.ts
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformConfigForm.tsx
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformConfigFormHelper.ts
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformEditView.tsx
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformVarfile.module.scss
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/__tests__/TerraformConfigForm.test.tsx
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/__tests__/__snapshots__/TerraformConfigForm.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/TerraformApply/__tests__/TerraformApply.test.tsx
  src/modules/75-cd/components/PipelineSteps/TerraformApply/__tests__/__snapshots__/TerraformApply.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/TerraformDestroy/__tests__/__snapshots__/TerraformDestroy.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/TerraformDestroy/__tests__/__snapshots__/TerraformVariable.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformPlan.tsx
Owners: @wings-software/ui-pipeline

feat: feature flag removed for kustomize patche
  src/modules/10-common/featureFlags.ts
  src/modules/70-pipeline/components/ManifestSelection/ManifestListView.tsx
  src/modules/70-pipeline/components/ManifestSelection/Manifesthelper.ts
Owners: @wings-software/ui-pipeline

refactor: refactored code for schedule edit form
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.tsx
  src/modules/75-ce/common/FixedSchedulesList/FixedSchedulesList.tsx
Owners: none

fix: some logic fixes
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.module.scss
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.module.scss.d.ts
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.tsx
  src/modules/75-ce/common/FixedSchedule/useFixedScheduleEditor.tsx
  src/modules/75-ce/common/FixedSchedulesList/FixedSchedulesList.tsx
  src/modules/75-ce/components/COCreateGateway/models.ts
  src/modules/75-ce/components/COGatewayConfig/steps/AdvancedConfiguration/FixedSchedules.tsx
Owners: none

feat: revamped design for fixed schedules form
  src/modules/75-ce/common/DaysOfWeekSelector/DaysOfWeekSelector.module.scss
  src/modules/75-ce/common/DaysOfWeekSelector/DaysOfWeekSelector.module.scss.d.ts
  src/modules/75-ce/common/DaysOfWeekSelector/DaysOfWeekSelector.tsx
  src/modules/75-ce/common/FixedSchedule/FixedScheduleDialog.tsx
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.module.scss
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.module.scss.d.ts
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.tsx
  src/modules/75-ce/common/TimeZoneSelector/TimeZoneSelector.tsx
  src/modules/75-ce/components/PerspectiveReportsAndBudget/PerspectiveCreateReport.tsx
  src/modules/75-ce/strings/strings.en.yaml
  src/stringTypes.ts
Owners: none

fix: checkbox width trimming
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.tsx
Owners: none

fix: snaps
  src/modules/75-ce/components/COGatewayConfig/__tests__/FixedSchedules.test.tsx
  src/modules/75-ce/components/COGatewayConfig/__tests__/__snapshots__/FixedSchedules.test.tsx.snap
  src/modules/75-ce/components/PerspectiveReportsAndBudget/__test__/__snapshots__/PerspectiveReportsAndBudget.test.tsx.snap
Owners: none

fix: added allCreatedSchedules to components
  src/modules/75-ce/components/COGatewayConfig/__tests__/FixedSchedules.test.tsx
  src/modules/75-ce/components/COGatewayList/components/FixedScheduleAccordion/FixedScheduleAccordion.tsx
Owners: none

fix: filter deleted schedules for validation
  src/modules/75-ce/components/COGatewayConfig/steps/AdvancedConfiguration/FixedSchedules.tsx
Owners: none

fix: label strings added
  src/modules/75-ce/common/DaysOfWeekSelector/DaysOfWeekSelector.module.scss.d.ts
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.module.scss.d.ts
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.tsx
Owners: none

fix: filter the schedule getting edited from the list for validation
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.tsx
  src/modules/75-ce/common/FixedSchedule/useFixedScheduleEditor.tsx
  src/modules/75-ce/components/COGatewayConfig/steps/AdvancedConfiguration/FixedSchedules.tsx
Owners: none

fix: snaps
  src/modules/75-ce/components/COGatewayConfig/__tests__/__snapshots__/FixedSchedules.test.tsx.snap
Owners: none

fix: snaps
  src/modules/75-ce/components/COGatewayConfig/__tests__/__snapshots__/FixedSchedules.test.tsx.snap
Owners: none

fix: strings
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.tsx
  src/modules/75-ce/strings/strings.en.yaml
  src/stringTypes.ts
Owners: none

feat: [PL-18549]: changed Dockerfile to use HARNESS_ENABLE_CDN_PLACEHOLDER
  Dockerfile
Owners: none

feat: [PL-18549]: using __CDN_PATH_PLACEHOLDER__ from HTMLWebpackPlugin.templateParameters
  src/index.html
  webpack.config.js
Owners: @wings-software/ui-council

feat: [PL-18549]: updated index.html to use HARNESS_ENABLE_CDN_PLACEHOLDER
  src/index.html
  webpack.config.js
Owners: @wings-software/ui-council

feat: [PL-18549]: Enable CDN: Added webpack public path
  src/framework/app/index.tsx
  src/global.d.ts
  src/index.html
Owners: @wings-software/ui-council

feat: [PL-18549]: removed left trailing slash from NON_CDN_BASE_PATH
  webpack.config.js
Owners: @wings-software/ui-council

feat: [PL-18549]: Updated Dockerfile: added conditions for HARNESS_NG_CDN_PATH_PLACEHOLDER
  Dockerfile
Owners: none

feat: [PL-18549]: Changed images path to "static/images" directory. Also, used Asset-Modules in webpack instead of 'url-loader' or 'file-loader'.
  webpack.config.js
Owners: @wings-software/ui-council

feat: [PL-18549]: made 'static' keyword a part of webpack output.path
  src/index.html
  webpack.config.js
Owners: @wings-software/ui-council

fix: Fix code smell
  src/modules/70-pipeline/components/InputSetSelector/__tests__/__snapshots__/InputSetSelector.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformConfigForm.tsx
Owners: @wings-software/ui-pipeline

fix: editing after deleting some schedules and column adjustments
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.tsx
  src/modules/75-ce/common/FixedSchedulesList/FixedScheduleList.module.scss
  src/modules/75-ce/components/COGatewayConfig/steps/AdvancedConfiguration/FixedSchedules.tsx
Owners: none

fix: editing schedule having start date less than current date
  src/modules/75-ce/common/FixedSchedule/FixedScheduleForm.tsx
  src/modules/75-ce/utils/momentUtils.ts
Owners: none

fix: Fix undefined connector
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformConfigForm.tsx
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformEditView.tsx
Owners: none

feat: Add artifactroy form details
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TFRemoteWizard.tsx
Owners: none

feat: Add artifactroy form details
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TFRemoteWizard.tsx
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformConfigFormHelper.ts
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformVarfile.module.scss
  src/modules/75-cd/components/PipelineSteps/Common/Terraform/Editview/TerraformVarfile.module.scss.d.ts
Owners: none

added swagger to restful react generation
  restful-react.config.js
  src/modules/75-cd/components/PipelineSteps/TerraformPlan/TerraformPlan.tsx
  src/services/cd-ng/index.tsx
  webpack.devServerProxy.config.js
Owners: @wings-software/ui-council

feat: [CVS-8666]: implementing the screen for empty state of slos
  src/modules/85-cv/assets/slosEmptyState.svg
  src/modules/85-cv/pages/slos/CVSLOsListingPage.tsx
  src/modules/85-cv/pages/slos/__tests__/CVSLOsListingPage.test.tsx
  src/modules/85-cv/pages/slos/__tests__/__snapshots__/CVSLOsListingPage.test.tsx.snap
  src/modules/85-cv/strings/strings.en.yaml
  src/stringTypes.ts
Owners: @wings-software/ui-cv

CODEOWNERS:

.github/ @wings-software/ui-council
.eslintrc.yml @wings-software/ui-council
.prettierignore @wings-software/ui-council
.prettierrc.yml @wings-software/ui-council
package.json @wings-software/ui-council
tsconfig.json @wings-software/ui-council
tsconfig-eslint.json @wings-software/ui-council
webpack.config.js @wings-software/ui-council
webpack.devServerProxy.config.js @wings-software/ui-council
jest.config.js @wings-software/ui-council
coverage-groups.json @wings-software/ui-council
dockerfile @wings-software/ui-council
src/framework/ @wings-software/ui-council
src/modules/10-common/navigation/ @wings-software/ui-council
src/modules/10-common/RouteDefinitions.ts @wings-software/ui-council
src/services/ @wings-software/ui-council
harnessci.Dockerfile @wings-software/ui-council
restful-react.config.js @wings-software/ui-council
sonar-project.properties @wings-software/ui-council
yarn.lock @wings-software/ui-council
.dockerignore @wings-software/ui-council
.storybook/ @wings-software/ui-council
scripts/ @wings-software/ui-council
certificates/ @wings-software/ui-council
src/modules/70-pipeline @wings-software/ui-pipeline
src/modules/85-cv @wings-software/ui-cv
